*.DS_Store
results/*
baseline_policy.py
gurobi.log
filewk.lp
.ipynb_checkpoints/*
.idea/*
__pycache__/*
*/__pycache__/*
gifs/*
*.gif
*.pyc
MUJOCO_LOG.TXT
notebooks/logs/*
notebooks/log/*
notebooks/.ipynb_checkpoints/*
